.list_panel {
	background-color: #EEFFEE;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.list_container {
	
}

.list_title {
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.list_content {
	overflow-y: scroll;
	padding: 10px;
}

.list_row {
	border-top: 1px solid lightgray;
	min-height: 30px;
	cursor: pointer;
	overflow: auto;
	position: relative;
}

.list_row_content {
	font-size: 15px;
	margin: 10px;
	line-height: 160%;
	display: inline-block;
}

.list_row_content a {
	color: #54b4f5 !important;
}

.list_row_content a:hover {
	
}

.list_row:hover {
	background-color: rgba(160, 214, 245, 0.2);
}

.list_popup_div {
	position: absolute;
	z-index: 40;
	background-color: #efefef;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
}

.list_row_end {
	height: 0px;
	border-top: 1px solid lightgray;
}

.list_row_title {
	font-weight: normal;
	font-style: italic;
	color: #66adff;
}

.list_row_time {
	color: gray;
}