.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 18px;
	font-weight: bold;
	background-color: #54b4f5;
	position: fixed;
	top: 0px;
	width: 300px;
	bottom: 0px;
	color: #e1ffff;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu .menu-brand {
	line-height: 40px;
	font-size: 25px;
	font-weight: bold;
	padding-left: 20px;
}

.nav-side-menu .menu-brand {
	line-height: 40px;
	font-size: 25px;
	font-weight: bold;
	padding-left: 20px;
}

.nav-side-menu .menu-brand a, .nav-side-menu .menu-brand a:hover,
	.nav-side-menu .menu-brand a:active, .nav-side-menu .menu-brand a:visited
	{
	color: #e1ffff;
	text-decoration: none;
}

.nav-side-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav-side-menu li {
	line-height: 50px;
	cursor: pointer;
	border-left: 6px solid #54b4f5;
	padding-left: 20px;
	/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu ul li[aria-expanded='true'] .arrow:before {
	font-family: FontAwesome;
	content: "\f077";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu a {
	display: block;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 6px solid #d19b3d;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	border-left: 6px solid #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #63bffd;
	line-height: 50px;
	border-left: 6px solid #63bffd;
	padding-left: 30px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #54b4f5;
}

.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu li:hover, .nav-side-menu .sub-menu li:hover {
	border-left: 6px solid #d19b3d;
	background-color: #63bffd;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.nav-side-menu .menu-bottom {
	background-color: #54b4f5;
	position: absolute;
	bottom: 0px;
	padding: 0px;
	padding-bottom: 20px;
	width: 100%;
	margin: 0px;
}

.nav-side-menu .menu-bottom hr {
	margin-top: 5px;
	margin-bottom: 20px;
}

.nav-side-menu .menu-bottom select {
	color: #000;
}

.nav-side-menu .menu-bottom div.row {
	width: 100%
}

.nav-side-menu .menu-bottom img {
	width: 20px;
	height: 15px;
}

@media ( max-width : 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #54b4f5;
		width: 30px;
		text-align: center;
		font-size: 18px;
	}
	.nav-side-menu .menu-bottom {
		position: static;
	}
	.brand {
		text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
}

@media ( min-width : 767px) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}