.calendar-container {
	width: 700px;
	overflow: auto;
}

.calendar-title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.calendar-column {
	float: left;
	width: 100px;
}

.calendar-column_header {
	text-align: center;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px 0px 1px 1px;
}

.calendar-item {
	height: 95px;
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 0px 1px 1px;
	overflow: hidden;
}

.calendar-item_today {
	background-color: #ffd;
}

.calendar-item_old {
	background-color: #eee;
}

.calendar-item_end {
	border-style: solid;
	border-color: lightgray;
	border-right-width: 1px;
}

.calendar-item_date {
	text-align: right;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	color: black;
}

.calendar-item_notcurrent {
	color: lightgray;
}

.calendar-btnbar {
	float: left;
	margin-left: 20px;
}

.calendar-btn {
	
}

.calendar-event {
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 2px;
	background-color: #aaeeaa;
	color: white;
	padding: 2px;
	font-size: 12px;
	height: 18px;
	cursor: pointer;
	overflow: hidden;
}

.calendar-event-past {
	background-color: #CCCCCC;
	color: gray;
}

.calendar-item a {
	font-size: 12px;
	cursor: pointer;
}

.calendar-popup {
	width: 150px;
	position: absolute;
	border: 1px solid lightgray;
}

.calendar-popup_title {
	text-align: center;
	background-color: gray;
	color: white;
	padding: 2px;
	font-size: 14px;
	background-color: lightgray;
}

.calendar-popup_content {
	min-height: 100px;
	background-color: #fdfdfd;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}