.calendar_container {
	width: 840px;
	overflow: auto;
}

.calendar_title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.calendar_column {
	float: left;
	width: 120px;
}

.calendar_column_header {
	text-align: center;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px 0px 1px 1px;
}

.calendar_item {
	height: 95px;
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 0px 1px 1px;
	overflow: hidden;
}

.calendar_item_today {
	background-color: #ffd;
}

.calendar_item_old {
	background-color: #eee;
}

.calendar_item_end {
	border-style: solid;
	border-color: lightgray;
	border-right-width: 1px;
}

.calendar_item_date {
	text-align: right;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	color: black;
}

.calendar_item_notcurrent {
	color: lightgray;
}

.calendar_btn {
	float: left;
	background: #8ccefa;
	-webkit-border-radius: 1;
	-moz-border-radius: 1;
	border-radius: 1px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	background: #54b4f5;
	border-style: none;
}

.calendar_btn:hover {
	background: #2982ba;
	text-decoration: none;
}

.calendar_event {
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 5px;
	background-color: #2982ba;
	color: white;
	padding: 2px;
	font-size: 12px;
	height: 14px;
	cursor: pointer;
}

.calendar_item a {
	font-size: 12px;
	cursor: pointer;
}

.calendar_popup {
	width: 150px;
	position: absolute;
	border: 1px solid lightgray;
}

.calendar_popup_title {
	text-align: center;
	background-color: gray;
	color: white;
	padding: 2px;
	font-size: 14px;
	background-color: lightgray;
}

.calendar_popup_content {
	min-height: 100px;
	background-color: #fdfdfd;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
