* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	text-decoration: none;
	color: #54b4f5;
}

a:hover {
	text-decoration: underline;
}

#header {
	
}

#footer {
	height: 120px;
	background-color: #ddd;
	text-align: center;
}

.text_hl {
	background-color: rgba(210, 210, 210, 0.6);
	padding: 10px;
}