* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei",
		"Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

body {
	/*background-color: #f6f6f6;*/
}

div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: transparent;
}

li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #54b4f5;
}

a:hover {
	text-decoration: underline;
}

.text_hl {
	background-color: rgba(210, 210, 210, 0.6);
	padding: 10px 20px;
}

a.favorite {
	background: url(images/icon-favorite.png) no-repeat;
	padding-left: 18px;
}

a.timesheet {
	background: url(images/icon-timesheet.png) no-repeat;
	padding-left: 18px;
}

a.schedule {
	background: url(images/icon-schedule.png) no-repeat;
	padding-left: 18px;
}

button {
	cursor: pointer;
}

input[type="text"]:disabled {
	background: #dddddd;
}

textarea:disabled {
	background: #dddddd;
}

.bg_green {
	background-color: #eafbea;
}

.bg_blue {
	background-color: #eaf1f6;
}

.bg_gray {
	background-color: #f6f6f6;
}