@CHARSET "UTF-8";

.col-sm-4_5 {
	padding-left: 15px;
	padding-right: 15px;
}

.col-sm-7_5 {
	padding-left: 15px;
	padding-right: 15px;
}

.static-control {
	padding-top: calc(.5rem - 1px * 2);
	padding-bottom: calc(.5rem - 1px * 2);
}

.rounded-image {
	border-radius: 50%;
}

@media ( min-width : 768px) {
	.col-sm-4_5 {
		float: left;
		width: 37.5%;
	}
	.col-sm-7_5 {
		float: left;
		width: 62.5%;
	}
}

@media ( max-width : 768px) {
	.col-sm-4_5 {
		
	}
	.col-sm-7_5 {
		
	}
}

.input-group-addon {
	width: 45px;
}