.navbar {
	margin-bottom: 0;
	color: #54b4f5;
	z-index: 9999;
	border: 0;
	line-height: 1.42857143;
	border-radius: 0;
	z-index: 9999;
}

.navbar .navbar-brand {
	font-size: 24px;
	line-height: 1.42857143;
	letter-spacing: 3px;
}

.navbar li a, .navbar .navbar-brand, .navbar .navbar-brand:hover {
	color: #54b4f5;
}

.navbar-default .navbar-nav li a {
	color: #54b4f5;
}

.navbar-default .navbar-text1 li a {
	color: #555753;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a
	{
	/*background: rgba(220, 220, 220, 0.3);*/
	color: #63bffd;
}

.navbar-default .navbar-nav li.active a {
	background: rgba(220, 220, 220, 0.3);
}

.navbar-default .navbar-text1 li a:hover, .navbar-default .navbar-text1 li.active a
	{
	color: #888a85;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #54b4f5;
}