.page-row input.paging-input {
	display: inline-block;
	width: 40px;
	padding: 5px;
	text-align: center;
}

button.paging-control {
	margin-left: 2px;
	margin-right: 2px;
}

span.paging-total {
	display: inline-block;
	margin-right: 5px;
}