.timesheet-container {
	width: 100%;
	position: relative;
	/*padding-top: 51px; for the header*/
}

.timesheet-header {
	margin-right: 18px;
}

.timesheet-header-stick {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 18px; /*for the scroll bar*/
	overflow: auto;
}

.timesheet-topleft {
	margin-left: 1px;
	margin-right: 1px;
	float: left;
	height: 3px;
	width: 8%;
}

.timesheet-leftcol {
	width: 8%;
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

.timesheet-lefttime {
	text-align: right;
	height: 46px;
	font-size: 25px;
	padding-top: 10px;
	border-width: 0px 0px 1px 0px;
	border-color: lightgray;
	border-style: solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*AM PM flag*/
.timesheet-leftflag {
	font-size: 15px;
	color: #bbb;
}

.timesheet-column {
	width: 13%;
	float: left;
}

.timesheet-title {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px 0px 1px 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
	color: #545;
}

.timesheet-title-week {
	font-size: 14px;
	font-weight: bold;
}

.timesheet-title-date {
	font-size: 10px;
}

.timesheet-end {
	border-right-width: 1px;
}

.timesheet-item {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	font-size: 12px;
	cursor: default;
	background-color: #eee;
	height: 22px;
}

.timesheet-item-0 {
	background-color: #dededc;
}

.timesheet-item-old {
	background-color: #cececc;
}

.timesheet-item-1 {
	background-color: #54b4f5;
}

.timesheet-item-1:hover {
	z-index: 5;
	position: relative;
	top: -1px;
	left: -1px;
	box-shadow: 2px 2px 8px #000;
	border-radius: 3px;
}

.timesheet-item-2 {
	background-color: #cc0000;
}

.timesheet-item-2:hover {
	z-index: 5;
	position: relative;
	top: -1px;
	left: -1px;
	box-shadow: 2px 2px 8px #000;
	border-radius: 3px;
}

.timesheet-item-3 {
	background-color: #c17d11;
}

.timesheet-item-3:hover {
	z-index: 5;
	position: relative;
	top: -1px;
	left: -1px;
	box-shadow: 2px 2px 8px #000;
	border-radius: 3px;
}

.timesheet-frame {
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}